.flex0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    overflow:hidden;
  
}

.blur-bg{
    background-color: rgb(185, 193, 205, 0.6);
    position: fixed;
    /* Full height */
    height: 100%;
    width: 100%;
    margin: 0;
    bottom: 0;
}

.background-images {
    position: fixed;
    /* The image used */
    /* background-image: url("assets/backgrounds/cloudy.gif"); */
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transform: scale(1.03);
    /* Full height */
    height: 100%;
    width: 100%;
    margin: 0;
    bottom: 0;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }




.flex1 {
    display: flex;
    flex-direction: column;
    gap: 58px;
    padding-left: 58px;
    padding-right: 50px;
    padding-top: 50px;
    overflow: auto;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.flex3 {
    display: flex;
    gap: 34px;
    margin-bottom: 3em;
}

.flex4 {
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.flex5 {
    display: flex;
    gap: 30px;
}

.flex6 {
    background-color: rgb(91, 91, 91, 0.4);
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    padding-right: 58px;
    padding-left: 68px;
    gap: 70px;
    overflow: auto;
}

.flex7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
}

.current-value{
    float: left;
}

.current-color{
    float: right;
}

.current-text{
    text-align: left;
    clear:both;
    padding-top: 10px;
}

.rect1 > .icon{
    float: left;
    width: 63%;
}

.rect1 > .info{
    float: left;
    width: 30%;
}


/* THE ADDED STUFF FOR SEARCH BAR */
.flex8 {
    position: relative;
    display: inline-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 239px;
    height: 42px;
}

.circ1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2px;
}

#enter-search-button {
    position: absolute;
    right: 0;
    padding-right: 8px;
}

#search-box {
    padding-left: 20px;
    padding-right: 40px;
    font-family: 'Lato';
    color: #636571;
    transition: all 0.5s ease; 
    visibility: hidden;
    position: absolute;
    right: 0;
}
/* THE ADDED STUFF FOR SEARCH BAR!! */