body, html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
    color:white;
    overflow: scroll; /* Hide Scrollbar*/
    overflow-x: hidden; /* Hide Scrollbar*/
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.time {
    width: 178px;
    height: 56px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.07em;
}

.location{
    font-size: 0.5em;
    text-align: left;
    padding-left: 13px;
    font-weight: 500;
    width: 400px;
}

.rect1 {
    width: 145px;
    height: 145px;
    display: flex;
    flex-direction: column;
    background: rgba(177, 221, 240, 0.7);
    box-shadow: 0px 4px 10px 1px rgba(122, 191, 220, 0.3);
    border-radius: 12px;
}

.rect1 > .icon{
    padding-top: 20px;
}

.rect2 {
  width: 130px;
  height: 145px;

  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 1px rgba(122, 191, 220, 0.3);
  border-radius: 12px;
}

.rect2 > .icon{
    padding-top: 20px;
}

.rect2 > .temp{
    padding-top: 15px;
}


.rect3 {
    width: 395px;
    height: 556px;
    display: inline-grid;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.rect4 {
    width: 219px;
    height: 145px;

    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.rect5 {
    width: 219px;
    height: 145px;

    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.rect6 {
  width: 239px;
  height: 42px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgb(255 255 255 / 49%);
  border-radius: 18px;
  transition: all 2s ease; 
}

.rect6 > input {
    width: 239px;
    height: 42px;
    margin-top: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.49);
    border-radius: 18px;
}

.input-contain{
  position: relative;
  margin-top: 24px;
  background: #FFFFFF;
  border-radius: 22px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.49);
}

.placeholder-text{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border: 3px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.text{
  font-size: 1.4rem;
  padding: 1px 1rem;
  background-color: transparent;
  color:#818494;
  transform: translate(0);
  transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;

}

input:focus{
  outline: none;
  border-color:  rgba(122, 191, 220, 0.3);
}

input:focus + .placeholder-text .text{
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.1rem;
  color: #818494;
  transform: translate(0, -170%);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

input:focus + .placeholder-text .text, :not(input[value=""]) + .placeholder-text .text{
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.1rem;
  color: white;
  transform: translate(0, -170%);
}

input:focus + .placeholder-text .text{
  border-color: #7abfdc4d;
  color: white;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

.rect7 {
    width: 219px;
    height: 145px;
    
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.title{
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 10px;
    text-align: left;
}

.rect1 > .title{
    background-color: rgb(122, 190, 220, 0.8);
    padding: 5px;
    padding-left: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.rect2 > .title{
    text-align: center;
    padding: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.scroll-table{
  overflow: auto;
}

table {
    margin: 0 auto;
    width: 95%;
    border: 0px solid;
    table-layout:fixed;
}


table td{
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.last-table > td{
    padding: 1em;
    border-bottom: 0px;
}

.condition-data{
 margin: 10px;
}


#fname{
  border: none;
}


/* THE ADDED STUFF FOR SEARCH BAR */
.circ1 {
  width: 42px;
  height: 42px;

  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.49);
  border-radius: 22px;
}

.text1 {
  width: 106px;
  height: 15px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.015em;

  color: #FFFFFF;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.rect7 {
  cursor: pointer;
  transition: color .25s ease, transform .18s;
}

.rect7:hover {
  transform: scale(1.03);
}

.title {
  cursor: pointer;
  user-select: none;
}

#enter-search-button {
  user-select: none;
}




.material-icons.md-26 { font-size: 26px; }
.material-icons.md-dark { color: #818494; }
/* THE ADDED STUFF FOR SEARCH BAR */